.result {
    width: 100%;
    margin-top: 20px;
}

.table, #courseTable , #sourseTable {
    display: none;
    width: 100%;
    flex-direction: column;
    margin: 0 auto; 
    border-collapse: collapse;
} 

thead {
    border: 1px solid $secondaryColor; 
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center; 
    border: 1px solid $secondaryColor;
    border-collapse: collapse;
}

.head {
    color: $secondaryColor;
    padding: 10px; 
    text-align: left;
    width: 16%;
}

.info {
    width: 16%;
    color: #aaa;
    padding: 10px;
    text-align: left;
}

 

#row {
    display: flex;
    flex-direction: row;
    align-items: center; 
    border: 1px solid $secondaryColor;
    border-collapse: collapse;
}

.Chead, .shead {
    color: $secondaryColor;
    padding: 10px; 
    text-align: left;
    width: 50%;
}

.Cinfo, .Sinfo {
    width: 50%;
    color: #aaa;
    padding: 10px;
    text-align: left;
}

.delete {
    display: block;
    width: 16%;
    padding: 6px;
    outline: none;
    border: none;
    border-radius: 4px;
    background-color: $secondaryColor;
    color: white;
    font-weight: 500;
}