body {
  background-color: #0F1826;
  position: relative;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

*, *::after, *::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container-fluid {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container {
  width: 100%;
  margin-left: auto;
}

ul, ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.header {
  width: 80%;
  margin: 0 0 0 auto;
  margin: 15px;
}

.header-br {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-br .page_name {
  color: #fff;
  font-size: 28px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0 auto;
}

.header-br .page_name .page_name_color {
  color: #ae8d5e;
}

.motto {
  color: #fff;
  font-size: 18px;
}

.typewriting {
  width: 28%;
  margin: 5px 0px 0px 20px;
}

.motto {
  overflow: hidden;
  border-right: .15em solid orange;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .15em;
  -webkit-animation: typing 10s steps(40, end), blink-caret 0.75s step-end infinite;
          animation: typing 10s steps(40, end), blink-caret 0.75s step-end infinite;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

/* The typing effect */
@-webkit-keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@-webkit-keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}
@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

.wrapper .search {
  margin-left: 200px;
  border: none;
}

.wrapper .search .search_input {
  padding: 6px;
  border-radius: 4px;
  border: none;
  outline: none;
}

.wrapper .search .search_button {
  padding: 6px;
  border-radius: 4px;
  outline: none;
  border: none;
  background-color: #ae8d5e;
  color: #fff;
  font-weight: 600;
}

.aside {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-right: 4px solid #ae8d5e;
  padding: 20px 0px 0px 10px;
}

.aside .aside_name {
  color: #fff;
  font-size: 26px;
  text-align: center;
}

.activities {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.activities .activity_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  margin-top: 30px;
}

.activities .activity_item .activity-name {
  color: #fff;
  font-size: 22px;
  font-weight: 500;
}

.activities .activity_item .students_button, .activities .activity_item .select {
  display: block;
  padding: 6px;
  font-size: 16px;
  font-weight: 600;
  background-color: #ae8d5e;
  color: #0F1826;
  outline: none;
  border: none;
  border-radius: 5px;
  text-align: center;
}

.cSource {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 0px;
}

.cSource .activity_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cSource .activity_item .activity-name {
  color: #fff;
  font-size: 22px;
  font-weight: 500;
}

.cSource .activity_item .students_button, .cSource .activity_item .select {
  display: block;
  padding: 6px;
  font-size: 16px;
  font-weight: 600;
  background-color: #ae8d5e;
  color: #0F1826;
  outline: none;
  border: none;
  border-radius: 5px;
  text-align: center;
}

.form-section {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 40px;
}

.form-section .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form-section .form .name_input, .form-section .form .number_input {
  display: block;
  padding: 8px;
  outline: none;
  border: none;
  border-radius: 4px;
}

.form-section .form .course_value, .form-section .form .source_value {
  padding: 8px;
  background-color: white;
  color: #585858;
  border-radius: 4px;
  border: none;
  font-size: 15px;
}

.form-section .form .submit {
  display: block;
  padding: 8px;
  background-color: #ae8d5e;
  color: #0F1826;
  border-radius: 4px;
  border: none;
  font-size: 15px;
  font-weight: 700;
}

.no-student {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin-top: 50px;
}

.no-student .free_space {
  color: #fff;
  margin: auto 0 auto 0;
  text-align: center;
  margin-top: 40px;
}

.result {
  width: 100%;
  margin-top: 20px;
}

.table, #courseTable, #sourseTable {
  display: none;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  border-collapse: collapse;
}

thead {
  border: 1px solid #ae8d5e;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #ae8d5e;
  border-collapse: collapse;
}

.head {
  color: #ae8d5e;
  padding: 10px;
  text-align: left;
  width: 16%;
}

.info {
  width: 16%;
  color: #aaa;
  padding: 10px;
  text-align: left;
}

#row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #ae8d5e;
  border-collapse: collapse;
}

.Chead, .shead {
  color: #ae8d5e;
  padding: 10px;
  text-align: left;
  width: 50%;
}

.Cinfo, .Sinfo {
  width: 50%;
  color: #aaa;
  padding: 10px;
  text-align: left;
}
/*# sourceMappingURL=style.css.map */